<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pacman -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="PacmanGame.presentation.PacmanGameModelWizardID"
            name="%_UI_PacmanGameModelWizard_label"
            class="PacmanGame.presentation.PacmanGameModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PacmanGameModelFile.gif">
         <description>%_UI_PacmanGameModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pacman -->
      <editor
            id="PacmanGame.presentation.PacmanGameEditorID"
            name="%_UI_PacmanGameEditor_label"
            icon="icons/full/obj16/PacmanGameModelFile.gif"
            extensions="pacmangame"
            class="PacmanGame.presentation.PacmanGameEditor"
            contributorClass="PacmanGame.presentation.PacmanGameActionBarContributor">
      </editor>
   </extension>

</plugin>
