<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="at.ac.tuwien.big.momot.lang.ui.MOMoTLaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.petrinets/src-gen/icmt/tool/momot/demo/PetrinetSearch.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="icmt.tool.momot.demo.PetrinetSearch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.petrinets"/>
</launchConfiguration>
